ul {
    list-style: none;
}

#name {
    width: 300px;
    background-color: #202027;
    border: solid 0.5px #1762A7;
    border-radius:5px;
    height: 28px;
    outline: 0;
    color: white;
    
}

#mail {
    width: 300px;
    background-color: #202027;
    border: solid 0.5px #1762A7;
    border-radius:5px;
    height: 28px;
    outline: 0;
    color: white;
}

#password {
    width: 300px;
    background-color: #202027;
    border: solid 0.5px #1762A7;
    border-radius:5px;
    height: 28px;
    outline: 0;
    color: white;
}