ul {
    list-style: none;
}

@media (max-width: 400px) {
    ul {
        list-style: none;
    }
    }

    @media (min-width: 400px) {
        ul {
            list-style: none;
        }
        }

#name {
    width: 300px;
    background-color: #202027;
    border: solid 0.5px #1762A7;
    border-radius:5px;
    height: 28px;
    outline: 0;
    color: white;
}

@media (max-width: 400px) {
#name {
    width: 100px;
}
}

#mail {
    width: 300px;
    background-color: #202027;
    border: solid 0.5px #1762A7;
    border-radius:5px;
    height: 28px;
    outline: 0;
    color: white;
}

@media (max-width: 400px) {
    #mail {
        width: 100px;
    }
    }

#password {
    width: 300px;
    background-color: #202027;
    border: solid 0.5px #1762A7;
    border-radius:5px;
    height: 28px;
    outline: 0;
    color: white;
}

@media (max-width: 400px) {
    #password {
        width: 100px;
    }
    }
